<div class="modal-header">
    <h3 ng-show="twofactor_state.twofactor_type == 'gauth'">Désactiver Google Authenticator</h3>
    <h3 ng-show="twofactor_state.twofactor_type == 'email'">Désactiver la double authentification par email</h3>
    <h3 ng-show="twofactor_state.twofactor_type == 'sms'">Désactiver la double authentification par SMS</h3>
</div>
<div submittable>
    <div class="modal-body">
        <p>Vous devez fournir le code d'authentification deux-facteurs pour le désactiver</p>
        <form class="form-inline" ng-submit="disable_2fa()"><div class="control-group">
            <div class="alert alert-error" ng-show="disable_2fa_error">(( disable_2fa_error ))</div>
            <p>Entrez-le ici:
                <input clickfix focus-on="disableTwoFactorModal" class="form-control pin" type="tel" mask-input required="required"
                   maxlength="6" pattern="[0-9]{6}" ng-pattern="/[0-9]{6}/" ng-model="twofactor_state.disable_2fa_code" /></p>
            <input type="submit" class="hide" submitter />
        </form>
    </div>

    <div class="modal-footer">
        <div class="btn-group pull-right">
            <button class="btn btn-primary" ng-click="submit_me()">Ok</button>
            <button class="btn btn-secondary" ng-click="$dismiss()">Annuler</button>
        </div>
    </div>
</div>