.DS_Store
*.swp
.*.swo
manifest_mainnet.json
static/wallet/config_mainnet.js
static/wallet/network_mainnet.js
webfiles
venv
de
el
en
es
fr
it
nl
pl
ru
static/css
static/fonts
static/img
static/js
static/sound
sv
th
uk
