<div class="modal-header">
    <h3 ng-show="twofactor_state.twofactor_type == 'gauth'">Disabilita autenticazione Google</h3>
    <h3 ng-show="twofactor_state.twofactor_type == 'email'">Disabilita autenticazione email a due fattori</h3>
    <h3 ng-show="twofactor_state.twofactor_type == 'sms'">Disabilita autenticazione SMS a due fattori</h3>
</div>
<div submittable>
    <div class="modal-body">
        <p>Devi fornire il tuo codice a due fattori per disabilitarla</p>
        <form class="form-inline" ng-submit="disable_2fa()"><div class="control-group">
            <div class="alert alert-error" ng-show="disable_2fa_error">(( disable_2fa_error ))</div>
            <p>Per piacere inserisci qui:
                <input clickfix focus-on="disableTwoFactorModal" class="form-control pin" type="tel" mask-input required="required"
                   maxlength="6" pattern="[0-9]{6}" ng-pattern="/[0-9]{6}/" ng-model="twofactor_state.disable_2fa_code" /></p>
            <input type="submit" class="hide" submitter />
        </form>
    </div>

    <div class="modal-footer">
        <div class="btn-group pull-right">
            <button class="btn btn-primary" ng-click="submit_me()">OK</button>
            <button class="btn btn-secondary" ng-click="$dismiss()">Annulla</button>
        </div>
    </div>
</div>