  <div class="row hidden-xs hidden-sm">
  <div class="col-md-12">
    <div class="header">
      Einstellungen
      <form role="form" class="form-inline pull-right" style="margin:0;">
        <div class="form-group">
          Sprache ändern in
        </div>
        <div class="form-group">
          <select ng-model="settings.language">
            <option value="de">Deutsch</option>
            <option value="en">English</option>
            <option value="es">Español</option>
            <option value="fr">Français</option>
            <option value="it">Italiano</option>
            <option value="pl">Polski</option>
          </select>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row currencies" ng-show="settings.available_currencies">
  <div class="col-md-3">
    <div class="sub-header">Währung</div>
    <div class="sub-header-desc">Wählen Sie Ihre Währung und Preisquelle</div>
  </div>
  <div class="col-md-9">
    <form role="form" class="form-inline">
      <div class="form-group">
        <label class="control-label">Preisangabe von</label>
      </div>
      <div class="form-group">
        <div class="btn-group">
          <button ng-repeat="(exchange, available) in settings.available_currencies.per_exchange" type="button" class="btn btn-xs btn-default" ng-class="{'btn-primary': settings.exchange == exchange, 'btn-default': settings.exchange != exchange}" ng-model="settings.exchange" btn-radio="exchange" ng-disabled="settings.updating_exchange || available.indexOf(settings.currency) == -1">(( exchanges[exchange] ))</button>
        </div>
      </div>
    </form>
    <hr>
    <form role="form" class="form-inline">
      <div class="form-group">
        <label class="control-label">Zeige Guthaben in</label>
      </div>
      <div class="form-group">
        <div class="btn-group">
          <button ng-repeat="currency in settings.available_currencies.all" type="button" class="btn btn-xs" ng-class="{'btn-primary': settings.currency == currency, 'btn-default': settings.currency != currency}" ng-model="settings.currency" btn-radio="currency" ng-disabled="settings.updating_currency || settings.available_currencies.per_exchange[settings.exchange].indexOf(currency) == -1">(( currency ))</button>
        </div>
      </div>
      <br />
      <div class="form-group">
        <label class="control-label">und</label>
      </div>
      <div class="form-group">
        <div class="btn-group">
          <button ng-repeat="unit in settings.available_units" type="button" class="btn btn-xs" ng-class="{'btn-primary': settings.unit == unit, 'btn-default': settings.unit != unit}" ng-model="settings.unit" btn-radio="unit" ng-disabled="settings.updating_unit">(( unit ))</button>
        </div>
      </div>
    </form>
  </div>
</div>
<hr class="double">
<div class="row">
  <div class="col-md-3">
    <div class="sub-header">Benachrichtigungen</div>
    <div class="sub-header-desc">Benachrichtigungen bieten höhere Sicherheit wenn eingerichtet für ausgehende und für aktuellste Informationen wenn eingerichtet für eingehende</div>
  </div>
  <div class="col-md-9">
    <form role="form" class="form-inline">
    <div ng-class="{grayedout: !wallet.twofac_email_confirmed}">
      <div class="form-group">
        <label class="control-label">Sende Benachrichtigungen über eingehende Transaktionen via</label>
      </div>
      <div class="form-group">
        <label class="switch">
          <input type="checkbox" class="switch" ng-model="settings.notifications.email_incoming" ng-disabled="settings.updating_ntf_email_incoming || !wallet.twofac_email_confirmed">
          <span class="switch"></span>
          Email
        </label>
      </div><!--
      <div class="form-group">
        <label class="switch">
          <input type="checkbox" class="switch">
          <span class="switch"></span>
          SMS
        </label>
      </div> -->
    </div>
      <hr>
    <div ng-class="{grayedout: !wallet.twofac_email_confirmed}">
        <div class="form-group">
          <label class="control-label">Sende Benachrichtigungen über ausgehende Transaktionen via</label>
        </div>
        <div class="form-group">
          <label class="switch">
              <input type="checkbox" class="switch" ng-model="settings.notifications.email_outgoing" ng-disabled="settings.updating_ntf_email_outgoing || !wallet.twofac_email_confirmed">
              <span class="switch"></span>
              Email
          </label>
        </div><!--
        <div class="form-group">
          <label class="switch">
            <input type="checkbox" class="switch">
            <span class="switch"></span>
            SMS
          </label>
        </div> -->
      </div>
      <div ng-hide="wallet.twofac_email_confirmed">
        <hr>
        <small class="text-info"><strong>BEACHTE</strong>: Sie müssen Email Zwei-Faktor-Authentifizierungen aktiviert haben für diese Funktion.</small>
      </div>
    </form>
  </div>
</div>
<hr class="double">
<div class="row">
  <div class="col-md-3">
    <div class="sub-header">Zwei-Faktor-Authentifikation</div>
    <div class="sub-header-desc">Richten Sie eine oder alle Zwei-Faktor-Authentifikationen ein: Sie können wählen nach Bedarf!</div>
  </div>
  <div class="col-md-9">
    <div ng-controller="TwoFactorSetupController" ng-include="'/de/wallet/partials/wallet_2fa.html'"></div>
  </div>
</div>
<hr class="double">
<div class="row">
  <div class="col-md-3">
    <div class="sub-header">Ausgabegrenzen</div>
    <div class="sub-header-desc">Setzen Sie Grenzen unter denen sie nicht nach Zwei-Faktor-Authentifikation gefragt werden für super-nutzerfreundliche Zahlungen.</div>
  </div>
  <div class="col-md-9">
    <form role="form" class="form-horizontal">
      <label class="switch">
          <input type="checkbox" class="switch" disabled>
          <span class="switch"></span>
          <span>
            Aktiviere verzögerte Zahlungen
            <span class="coming-soon">Kommt bald</span>
          </span>
      </label>
      <!--
      <hr>
      <div class="form-group">
        <label for="single" class="col-sm-3 control-label">Single transaction</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="single" placeholder="Betrag">
        </div>
      </div>
      <div class="form-group">
        <label for="daily" class="col-sm-3 control-label">Daily</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="daily" placeholder="Betrag">
        </div>
      </div>
      <div class="form-group">
        <label for="monthly" class="col-sm-3 control-label">Monthly</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="monthly" placeholder="Betrag">
        </div>
      </div>
      -->
    </form>
  </div>
</div>
<hr class="double">
<div class="row">
  <div class="col-md-3">
    <div class="sub-header">Verzögerte Zahlungen</div>
    <div class="sub-header-desc">Verzögere Transaktionen für zusätzliche Geistesruhe: Funktioniert am besten zusammen mit Benachrichtigungen über ausgehende Transaktionen.</div>
  </div>
  <div class="col-md-9">
    <form role="form" class="form-horizontal">
      <label class="switch">
          <input type="checkbox" class="switch" disabled>
          <span class="switch"></span>
          <span>
            Aktiviere verzögerte Zahlungen
            <span class="coming-soon">Kommt bald</span>
          </span>
      </label>
      <!--
      <hr>
      <div class="form-group">
        <label class="control-label col-sm-3">Verzögere Bezahlung über</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Betrag">
        </div>
        <div class="col-sm-4">
          <select class="form-control">
            <option value="">Seconds</option>
            <option value="">Minutes</option>
          </select>
        </div>
      </div>
      -->
    </form>
  </div>
</div>
<hr class="double" ng-show="!settings.noLocalStorage">
<div ng-controller="QuickLoginController" class="row" ng-show="!settings.noLocalStorage">
  <div class="col-md-3">
    <div class="sub-header">Schneller Login</div>
    <div class="sub-header-desc">Erlaube eine einfache PIN um schnell auf Ihre Brieftasche von diesem Gerät zuzugreifen.</div>
  </div>
  <div class="col-md-9">
    <div ng-show="quicklogin.loaded">
      <form ng-submit="set_new_pin()" class="form-horizontal" role="form">
        <label class="switch">
          <input type="checkbox" class="switch" ng-model="quicklogin.enabled" ng-disabled="quicklogin.started_setting_pin">
          <span class="switch"></span>
            Erlaube schnelles Anmelden von diesem Gerät
        </label>
        <hr ng-show="quicklogin.started_setting_pin || quicklogin.enabled">
        <div class="form-group" ng-show="quicklogin.started_setting_pin || quicklogin.enabled">
          <label ng-show="quicklogin.enabled" class="control-label col-sm-3">Ändere PIN Nummer</label>
          <label ng-hide="quicklogin.enabled" class="control-label col-sm-3">Setze PIN Nummer</label>
          <div class="col-sm-4">
            <input type="tel" class="form-control" placeholder="Vierstellige Zahl"
                   maxlength="4" pattern="[0-9]{4}" ng-pattern="/[0-9]{4}/" ng-model="quicklogin.new_pin">
            <input type="submit" class="btn btn-primary" ng-show="quicklogin.new_pin" value="Bestätige" ng-disabled="quicklogin.setting_pin" />
          </div>
        </div>
        <hr>
        <button class="btn btn-danger btn-block-xs" ng-click="remove_all_pin_logins()">Deaktiviere schnelles Anmelden auf allen Geräten</button>
        <!-- 
        <div class="form-group">
          <select id="quick-login-select" ng-model="quicklogin.selected_device" ng-options="device.device_name for device in quicklogin.devices"></select>
          <label for="pin" class="col-sm-3 control-label">setze PIN als</label>
          <div class="col-sm-4">
            <input id="pin" class="form-control" style="width:120px;" placeholder="PIN Nummer" type="tel" pattern="[0-9]{4}" ng-pattern="/[0-9]{4}/" maxlength="4" ng-model="quicklogin.new_pin" />
          </div>
          <div class="col-sm-4">
            <a href="" ng-click="remove_pin()" class="noanimate btn btn-danger" ng-class="{disabled: quicklogin.removing_pin}" ng-hide="quicklogin.selected_device.is_current && quicklogin.new_pin">Entferne</a>
            <input type="submit" class="btn btn-primary" ng-show="quicklogin.selected_device.is_current && quicklogin.new_pin" value="Bestätige" ng-disabled="quicklogin.setting_pin" />
          </div>
        </div>
        -->
      </form>
    </div>
  </div>
</div>
<hr class="double">
<div class="row">
  <div class="col-md-3">
    <div class="sub-header">Verbinde deine eigenen Kontos von anderen Diensten</div>
    <div class="sub-header-desc">Erlaube soziale Zahlungen und Nur-Schauen-Anmeldungen auf Ihre Brieftasche über Ihre Kontos bei anderen Diensten.</div>
  </div>
  <div class="col-md-9">
    <form role="form" ng-show="thirdparty.loaded" ng-controller="ThirdPartyController" ng-submit="thirdparty.customstate.save()">
    
      <button class="btn btn-block-xs btn-default" ng-click="thirdparty.customstate.enabled=!thirdparty.customstate.enabled" ng-disabled="thirdparty.toggling_custom"><i class="glyphicon glyphicon-lock"></i> Manuelles Anmelden</button>
      <label class="switch">
        <input type="checkbox" class="switch" ng-model="thirdparty.customstate.enabled" ng-disabled="thirdparty.toggling_custom">
        <span class="switch"></span>
      </label>
      <div ng-hide="!thirdparty.customstate.enabled && !thirdparty.toggling_custom && !thirdparty.customstate.username">
        <input class="form-control" ng-disabled="thirdparty.toggling_custom && thirdparty.toggling_custom!='initial'" type="text" ng-model="thirdparty.customstate.username" placeholder="Nutzername" />
        <input class="form-control" ng-disabled="thirdparty.toggling_custom && thirdparty.toggling_custom!='initial'" type="password" ng-model="thirdparty.customstate.password" placeholder="Passwort" />
        <input type="submit" class="btn btn-sm btn-default" value="(( thirdparty.customstate.save_button_label ))" ng-show="thirdparty.customstate.username && thirdparty.customstate.password" ng-disabled="thirdparty.toggling_custom && thirdparty.toggling_custom!='initial'" ng-click="thirdparty.customstate.save()" />
      </div>
    
    </form>
  </div>
</div>
<hr class="double">
<div class="row">
  <div class="col-md-3">
    <div class="sub-header">Zeige Mnemonikum</div>
    <div class="sub-header-desc">Zeige Ihr Mnemonikum zur Kontowiederherstellung oder zum Klonen auf anderen Geräten.</div>
  </div>
  <div class="col-md-9">
    <button class="btn btn-warning btn-block-xs" ng-click="show_mnemonic()">Zeige Mnemonikum</button>
    
  </div>
</div>
<hr class="double">
<div class="row">
  <div class="col-md-3">
    <div class="sub-header">nLockTime</div>
    <div class="sub-header-desc">nLockTime-Transaktionen erlauben es Ihnen Ihre Einlagen wieder zu erhalten nach einer im Voraus fest gelegten Anzahl von Blocks auch ohne GreenAddress.it's Signatur</div>
  </div>
  <div class="col-md-9">
    <form role="form" class="form-inline" ng-submit="settings.nlocktime.update()">
      <div class="form-group">
        <div ng-class="{grayedout: !settings.notifications.email_incoming || !settings.notifications.email_outgoing || !wallet.twofac_email_confirmed}">
          <label for="id_nlocktime_blocks" class="control-label">Erlaube Guthaben einzulösen ohne der Signatur von GreenAddress.it nach</label>
          <input class="form-control" type="tel" ng-model="settings.nlocktime.blocks_new" ng-disabled="settings.nlocktime.updating_nlocktime_blocks || !settings.notifications.email_incoming || !settings.notifications.email_outgoing || !wallet.twofac_email_confirmed" />
          Blöcken
          <input type="submit" class="btn btn-sm btn-default" value="Save" ng-show="settings.nlocktime.blocks_new != settings.nlocktime.blocks" ng-disabled="settings.nlocktime.updating_nlocktime_blocks"  />
          <br />(( settings.nlocktime.blocks_userfriendly ))
        </div>
        <div ng-hide="settings.notifications.email_incoming && settings.notifications.email_outgoing && wallet.twofac_email_confirmed">
          <hr>
          <small class="text-info"><strong>BEACHTE</strong>: Benachrichtungen sowohl für ausgehende als auch eingehende Transaktionen müssen aktiviert sein für diese Funktion.</small>
        </div>
        <hr>
        <a href="" class="btn btn-default btn-block-xs" ng-click="settings.expiring_soon_modal()"><i class="glyphicon glyphicon-time"></i> Zeige bald ablaufende Ausgaben</a>
      </div>
    </form>
  </div>
</div>